<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="style.css">
  </head>
    <body class="newsFeed">
      <!-- Navigation bar at the top of the page -->
      <nav class="nav1">
        <ul>
          <li><a href="#">Post</a></li>
          <li><a href="#">Message</a></li>
          <li><a href="#">Meet Up!</a></li>
        </ul>
      </nav>
      
      <!-- Form to post a photo and a message -->
      <form>
        <label class= "label1" for="photo">Upload Photo:</label>
        <input type="file" id="photo" name="photo"><br><br>
        
        <label class= "label2"for="message">Write a Post:</label>
        <textarea id="message" name="message"></textarea><br><br>
        
        <label class="label3"   for="stars">Leave a Review:</label>
        <select id="stars" name="stars">
          <option value="1">1 star</option>
          <option value="2">2 stars</option>
          <option value="3">3 stars</option>
          <option value="4">4 stars</option>
          <option value="5">5 stars</option>
        </select><br><br>
        
        <button class="sub" type="submit">Post</button>
      </form>

  
      <div class="news-feed">
        <div class="post">
          <div class="profile-picture">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile Picture">
          </div>
          <div class="post-content">
            <div class="post-header">
              <h3 class="name">John Doe</h3>
            </div>
            <div class="post-image">
              <img src="https://cdn.britannica.com/98/235798-050-3C3BA15D/Hamburger-and-french-fries-paper-box.jpg" alt="Post Image">
            </div>
            <div class="post-caption">
              <p> "I recently joined 'Food and Travel With Me!' and it has completely changed the way I travel and 
              experience food. The community is filled with like-minded individuals who share their tips and recommendations on the best local cuisines and hidden gems in every corner of the world. The platform is easy to use and I have found some amazing travel partners and food buddies through it. The team behind the website is also very responsive and helpful. 
              I highly recommend joining this community to anyone who is passionate about food and travel!"</p>
                        </div>
            <div class="feedback">
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div class="actions">
                <button class="like-btn"><i class="fa fa-heart"></i> Like</button>
                <button class="reply-btn"><i class="fa fa-reply"></i> Reply</button>
              </div>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="profile-picture">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile Picture">
          </div>
          <div class="post-content">
            <div class="post-header">
              <h3 class="name">John Doe</h3>
            </div>
            <div class="post-image">
              <img src="https://cdn.britannica.com/98/235798-050-3C3BA15D/Hamburger-and-french-fries-paper-box.jpg" alt="Post Image">
            </div>
            <div class="post-caption">
              <p> "I recently joined 'Food and Travel With Me!' and it has completely changed the way I travel and 
              experience food. The community is filled with like-minded individuals who share their tips and recommendations on the best local cuisines and hidden gems in every corner of the world. The platform is easy to use and I have found some amazing travel partners and food buddies through it. The team behind the website is also very responsive and helpful. 
              I highly recommend joining this community to anyone who is passionate about food and travel!"</p>
                        </div>
            <div class="feedback">
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <div class="actions">
                <button class="like-btn"><i class="fa fa-heart"></i> Like</button>
                <button class="reply-btn"><i class="fa fa-reply"></i> Reply</button>
              </div>
            </div>
          </div>
        </div>
        <a href="/">home</a> 



      </div>
      


    </body>
</html>

