<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Signup Page</title>
  </head>
  <body>
    <div class="container">
      <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Sign Up</h5>
              <p>Signup to start using the app right away</p>

              <img
                class="img-fluid"
                src="https://i.pinimg.com/originals/f4/a4/a6/f4a4a694d613898c3c6934c3f8cbb09d.jpg"
                alt=""
              />
              <form action="/signup" method="post">
                <div class="mb-3">
                  <label for="userName" class="form-label">User Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="userName"
                    name="userName"
                    placeholder="Username"
                  />
                </div>

                <div class="mb-3">
                  <label for="inputEmail" class="form-label"
                    >Email address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail"
                    name="email"
                    placeholder="Enter email"
                  />
                </div>
                <div class="mb-3">
                  <label for="inputPassword" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword"
                    name="password"
                    placeholder="Enter password"
                  />
                </div>
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="confirm password"
                  />
                </div>

                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
              </form>
              <div class="text-center mt-3">
                <small
                  ><a href="/login">Already have an account, login!</a></small
                ><br />
                <small><a href="/">or go home</a></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
