.features-width {
  flex-basis: 78% !important;
  display: flex;
  flex-direction: column;
}

.img-icons {
  border: 2px solid black;
  padding: 5px;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .features-overview .features-width {
    flex-basis: 100% !important;
  }
}
